@use "@/styles/_variables.scss" as *;

.qrOptions {
  padding: 20px;
  margin-top: 20px;
  border: 1px solid $border-color-alt;
  border-radius: 4px;
  background-color: $bg-light;
}

/* Cada grupo de opções recebe seu estilo específico */
.customIcon,
.customSize,
.customIconSize,
.customIconBackground,
.customColor {
  margin-bottom: 15px;

  label {
    display: block;
    font-size: 0.9rem;

    input {
      display: block;
      margin-top: 8px;
    }
  }
}

.downloadFormat {
  margin-bottom: 15px;

  label {
    display: block;
    font-size: 0.9rem;

    select {
      display: block;
      margin-top: 8px;
    }
  }
}

.tooltipIcon {
  margin-left: 0.5rem;
  color: $button-alt-bg; /* Cor padrão, você pode alterar conforme sua paleta */
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.2s ease-in-out;
}

.tooltipIcon:hover {
  color: #0056b3; /* Cor ao passar o mouse */
}

/* Responsividade */
@media (max-width: 768px) {
  .qrOptions {
    padding: 15px;
  }

  .customIcon,
  .customSize,
  .customIconSize,
  .customIconBackground,
  .customColor {
    margin-bottom: 10px;

    label {
      font-size: 0.85rem;

      input {
        margin-top: 6px;
      }
    }
  }
}
