@use "@/styles/_variables.scss" as *;

// Container principal do gerador de QR Code
.qrGenerator {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin: 20px auto;
  margin-bottom: 5rem;
  padding: 20px;
  background-color: $content-bg;
  border: 1px solid $border-color-light;
  border-radius: $border-radius-md;
  box-shadow: $shadow-light;
}

// Campo de entrada
.inputField {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid $border-color-input;
  border-radius: 4px;
}

// Botões de ação
.button {
  padding: 12px 20px;
  background-color: $button-alt-bg;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $button-alt-bg-hover;
  }
}

// Título principal
.title {
  font-size: 2.3rem;
  text-align: center;
  margin-bottom: 10px;
}

// Breakpoints para diferentes tamanhos de tela:

// Dispositivos médios (até 768px)
@media (max-width: 768px) {
  .qrGenerator {
    max-width: 90%;
    padding: 15px;
    gap: 15px;
  }

  .title {
    font-size: 2rem;
  }

  .inputField {
    font-size: 0.9rem;
    padding: 10px;

    &::placeholder {
      font-size: 1rem;
    }
  }

  .qrSectionTitle {
    margin-bottom: 20px;
  }

  .button {
    padding: 10px 16px;
    font-size: 0.9rem;
  }
}

// Dispositivos pequenos (até 450px)
@media (max-width: 450px) {
  .inputField {
    &::placeholder {
      font-size: 0.9rem;
    }
  }
}

// Responsividade para telas muito pequenas (até 400px)
@media (max-width: 400px) {
  .title {
    font-size: 1.8rem;
  }

  .inputField {
    &::placeholder {
      font-size: 0.8rem;
    }
  }
}
