@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Fontes */
$primary-font: "Poppins", sans-serif;
$secondary-font: "Roboto", sans-serif;

/* Paleta de Cores */
$header-bg: #3d3a3a; // Fundo para header e footer
$text-color: #d3d3d3; // Texto principal sobre fundo escuro
$color-primary: #007bff; // Cor primária para links, botões e elementos de destaque
$nav-link-color: #03CEA4; // Utilizada na navegação (header)
$color-secondary: color.adjust($header-bg, $lightness: -10%); // Usada em estados hover e destaques (ex.: hover no menu)
$color-danger: #f64348; // Cor para ícones e ações críticas (ex.: ícones do footer, botão de error)
$color-danger-hover: color.adjust($color-danger, $lightness: -20%); // Cor de destaque para o hover de botões de error
$color-accent: #eac435; // Cor de destaque para hovers (ex.: hover nos SVG)
$color-tertiary: #03CEA4; // Cor de destaque para o link do footer e botões de sucesso

/* Fundos Alternativos */
$content-bg: #ffffff; // Fundo para containers e seções principais
$bg-light: #f9f9f9; // Fundo para áreas diferenciadas (ex.: container de opções)

/* Bordas */
$border-color-dark: #8b8b8b; // Bordas para botões e elementos de destaque
$border-color-light: #ddd; // Bordas para canvas e containers
$border-color-alt: #e0e0e0; // Bordas alternativas (ex.: container de opções no QR Generator)
$border-color-input: #ccc; // Bordas para campos de entrada de texto
$border-footer: #404040; // Borda superior do footer, em tom sutil em relação ao header

/* Botões */
$button-bg: $color-primary; // Fundo padrão dos botões
$button-bg-hover: color.adjust($button-bg, $lightness: +10%); // Fundo dos botões no hover
$button-alt-bg: #047756;
$button-alt-bg-hover: color.adjust($button-alt-bg, $lightness: +10%);

/* Espaçamentos */
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;

/* Tamanhos de Fonte */
$font-size-sm: 0.9rem;
$font-size-md: 1rem;
$font-size-lg: 1.5rem;

/* Bordas Arredondadas */
$border-radius-sm: 4px;
$border-radius-md: 8px;

/* Transições */
$transition-speed: 0.3s;

/* Sombras */
$shadow-header: 0 2px 10px rgba(0, 0, 0, 0.4);
$shadow-footer: 0 -2px 4px rgba(0, 0, 0, 0.4);
$shadow-light: 0 2px 8px rgba(0, 0, 0, 0.1);