@use "./_variables" as *;

// Reset e Estilos Globais
* {
  font-family: $primary-font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Remove transições e animações para usuários que preferem reduzir movimentos (acessibilidade)
@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
  }
}