@use "@/styles/_variables.scss" as *;

.qrDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden; // previne overflow horizontal
  padding: 0 10px;

  canvas {
    max-width: 100%; // garante que o canvas não ultrapasse o container
    height: auto;
    border: 3px solid $border-color-light;
    border-radius: $border-radius-md;
    margin-bottom: 20px;
  }
}